body {
  background-color: #4FD5D6;   # 1D1F20;
  color: white;                # D0D0D0;
  font-family: helvetica, sans-serif;
}
h1 {
  font-size: 16px;
  font-weight: bold;
}
#content {
  margin-top: 10%;
}

/* LOCATION */
#city {
  font-size: 24px;
}
#coords {
  font-size: 12px;
}
#coords a {
  color: white;
}
#coords a:hover {
  color: #23517C;
}

/* DATE & TIME */
#time {
  font-size: 24px;
}
#time .wi {
  font-size: 28px;
  vertical-align: middle;
}

/* TEMPERATURE */
#temperature {
  font-size: 36px;
}
#temp, #degree, a {
  display: inline;
  color: white;
}
#degree a:hover {
  text-decoration: none;
}

/* WEATHER */
#weather {
  font-size: 64px;
}
#weather p {
  font-size: 24px;
}
